.c-baner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.2s ease;
  height: 100vh;

  &__title {
    font-size: 3rem;
    color: inherit;
  }

  &__sub-title {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  &__images-license {
    position: absolute;
    color: rgba($color: #202124, $alpha: 0.5);
    bottom: 0;
    right: 0;
    margin: 1rem;
    font-size: 0.8rem;

    a {
      color: inherit;
    }
  }
}

.l-title-section {
  padding: 2rem;
  max-width: 30vw;
  animation: swoosh 2000ms linear both;
}

.l-btns-container {
  display: flex;

  a {
    margin-right: 0.4rem;
  }
}
